<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/navigation.css">
    {% if css %}
      <link href="{{ css }}" rel="stylesheet">
    {% endif %}
    <script src="/js/usersettings.js"></script>
    <script src="/js/lightdarkmodegeneral.js"></script>
    {% if scripts %}
      <script src="{{ scripts }}"></script>
    {% endif %}
    {% if scriptsdefer %}
      <script src="{{ scriptsdefer }}" defer></script>
    {% endif %}
  </head>
  <body>
    <header class="nav">{% include 'partials/nav.njk' %}</header>
    {% block prebodycontent %}{% endblock %}
    {{ content | safe }}
  </body>
</html>