---
css: /css/homepage.css
---
{% extends "layouts/base.njk" %}
{% block body %}
    <div class="center-box">
        <div class="center-box center-box-clone">
            {{ content | safe }}</div>
        </div>
    </div>
{% endblock %}