---
css: /css/modal.css
scripts: /js/imagepopup.js
---
{% extends "layouts/base.njk" %}
{% block prebodycontent %}
<!-- Pop up image box, see modal.css and imagepopup.js -->
<div id="my-modal" class="modal">
    <span class="close-button" onclick="closePopUp()">X</span>
  <img id="my-modal-image" class="modal-image">
</div>
{% endblock %}