{% extends "layouts/base.njk" %}

{% block head %}
{{ super() }}
<link href="/css/modal.css" rel="stylesheet" type="text/css" media="all">
<!-- Enlarges image when clicked -->
<script src="/js/imagepopup.js" defer></script>
{% endblock %}

{% block body %}
<!-- Pop up image box, see modal.css and imagepopup.js -->
<div id="my-modal" class="modal">
    <span class="close-button" onclick="closePopUp()">X</span>
  <img id="my-modal-image" class="modal-image">
</div>
{{ super() }}
{% endblock %}
