<div class="footer">
    <span class="socials">
        <a href="https://github.com/KeigaI21/neocities">
            <img src="/images/github.svg" class="socialsicon">
        </a>
        <a href="https://www.instagram.com/keii_illust/">
            <img src="/images/instagram.svg" class="socialsicon">
        </a>
    </span>
    <p>&copy; 2026 Keiga Ishibashi</p>
</div>