<div class="footer">
    <span class="socials"><img src="/images/github.svg" class="socialsicon"><img src="/images/instagram.svg" class="socialsicon"></span>
    <p>&copy; 2026 Keiga Ishibashi</p>
</div>