<script src="/js/showhidenav.js" defer></script>
<span class="link-buttons">
    <a href="/">
        <img src="/images/homeicon.png" class="icon">
        <span class="nav-button-text"> HOME </span>
    </a>
</span>
<span class="link-buttons">
    <span class="nav-hamburger" onclick="showNav()">
        <img src="/images/hamburger.png" class="icon">
    </span>
    <span class="nav-close" onclick="hideNav()">
        <img src="/images/close.png" class="icon">
    </span>
    <span class="link-buttons nav-popup">
        <a class="expanding-button" href="/gallery/">
            <img src="/images/galleryicon.png" class="icon">
            <span class="nav-button-text"> GALLERY </span>
        </a>
        <a class="expanding-button" href="/contact/">
            <img src="/images/contacticon.png" class="icon">
            <span class="nav-button-text"> CONTACT </span>
        </a>
        <a class="expanding-button" href="/aboutme/">
            <img src="/images/aboutmeicon.png" class="icon">
            <span class="nav-button-text"> ABOUT ME </span>
        </a>
    </span>
</span>