<script src="/js/showhidenav.js" defer></script>
<span class="link-buttons">
<a href="/">
    <img src="/images/homeicon.png" class="icon">
    <span class="expanding-button"> HOME </span>
</a>
<a href="/gallery/">
    <img src="/images/galleryicon.png" class="icon">
    <span class="expanding-button"> GALLERY </span>
</a>
<a href="/contact/">
    <img src="/images/contacticon.png" class="icon">
    <span class="expanding-button"> CONTACT </span>
</a>
<a href="/aboutme/">
    <img src="/images/aboutmeicon.png" class="icon">
    <span class="expanding-button"> ABOUT ME </span>
</a>
</span>
<span class="show-hide-button" id="show-button">
    <img src="/images/showicon.png" class="icon" onclick="showNav()">
</span>
<span class="show-hide-button" id="hide-button">
    <img src="/images/hideicon.png" class="icon" onclick="hideNav()">
</span>
