<script src="/js/showhidenav.js" defer></script>
<span class="link-buttons">
<a href="/">
    <span class="icon themed-image" style="mask-image: url(/images/homeicon.png);"></span>
    <span class="expanding-button"> HOME </span>
</a>
<a href="/gallery/">
    <span class="icon themed-image" style="mask-image: url(/images/galleryicon.png);"></span>
    <span class="expanding-button"> GALLERY </span>
</a>
<a href="/contact/">
    <span class="icon themed-image" style="mask-image: url(/images/contacticon.png);"></span>
    <span class="expanding-button"> CONTACT </span>
</a>
<a href="/aboutme/">
    <span class="icon themed-image" style="mask-image: url(/images/aboutmeicon.png);"></span>
    <span class="expanding-button"> ABOUT ME </span>
</a>
</span>
<span class="show-hide-button" id="show-button">
    <span class="icon themed-image" style="mask-image: url(/images/showicon.png);" onclick="showNav()"></span>
</span>
<span class="show-hide-button" id="hide-button">
    <span class="icon themed-image" style="mask-image: url(/images/hideicon.png);" onclick="hideNav()"></span>
</span>
