/* Top navigation bar */
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  border-color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 18px;
}
.nav span {
  display: flex;
  flex-direction: row;
}
.nav a {
  padding: 10px 20px;
  /* Overwrites hyperlink style for rest of webstie */
  font-weight: normal;
}
.nav a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}