/* Global settings */
@font-face {
  font-family: playfair;
  src: url("/fonts/PlayfairDisplay.ttf");
}
* {
  font-family: playfair;
  letter-spacing: 1px;
  line-height: 1.6;
}
/* Font adjustments */
p, ul, li, a {
  letter-spacing: normal;
}

/* Box resets */
body, h1, h2, header, p, ul{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, rgb(8, 4, 27) 70%, rgb(60, 40, 150) 80%, rgb(235, 224, 252));
  background-image: url("/images/nasa.jpg");
  background-color: rgb(112, 107, 117);
  background-blend-mode: overlay;
  background-size: contain;
  color: white;
  font-family: Verdana;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-attachment: fixed;
}
img {
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin: 20px;
}
h2 {
  font-size: 20px;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  font-weight: bold;
  text-decoration-line: none;
}
hr {
  width:80%;
}

/* Middle section of every page, where all the content resides */
.center-box {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  width: 60%;
  padding: 30px 80px;
  background-image: linear-gradient(to right, rgb(76, 69, 99), rgb(16, 13, 39) 5%, rgb(16, 13, 39) 95%, rgb(76, 69, 99));
  text-align: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.vert-img {
  width: 550px;
}