/* Global settings */
:root {
  /* Accent color for whole website */
  --primary-color: white;
  --secondary-color: rgb(24, 35, 255);
  --secondary-color-darkened: rgb(11, 19, 182);
  --image-card-bottom-color: rgb(191, 201, 255);
  --background-bottom-color: rgb(32, 56, 161);
  --tertiary-color: rgb(212, 238, 250);
}
.dark-mode {
  --primary-color: rgb(34, 28, 44);
  --secondary-color: rgb(245, 240, 218);
  --secondary-color-darkened: rgb(79, 63, 97);
  --image-card-bottom-color: rgb(81, 70, 97);
  --background-bottom-color: rgb(221, 188, 230);
  --tertiary-color: rgb(62, 47, 73);
}
@font-face {
  font-family: playfair;
  src: url("/fonts/PlayfairDisplay.ttf");
}
@font-face {
  font-family: nunito;
  src: url("/fonts/Nunito.ttf");
}
@font-face {
  font-family: commissioner;
  src: url("/fonts/Commissioner.ttf");
}
@font-face {
  font-family: funnel;
  src: url("/fonts/FunnelDisplay.ttf");
}
/* Font adjustments */
p, ul, li, a {
  letter-spacing: 1.5px;
}
h1, h2 {
  letter-spacing: 2.5px;;
}
/* Box resets */
body, h1, h2, header, p, ul, pre, a, img{
  margin: 0;
  padding: 0;
}
/* Global defaults */
body {
  cursor: default;
  background-color: var(--primary-color);
  background-size: contain;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: funnel;
  line-height: 1.6;
  overflow: hidden;
}
h2 {
  font-size: 20px;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration-line: none;
}
hr {
  border-style: solid;
  width: 50%;
  color: var(--secondary-color)
}
.background-animation-canvas {
  filter: url(#space);
  position: absolute;
  z-index: -1;
}
.animated-background {
  position: absolute;
  left: -10%;
  width: 120%;
  height: 110%;
  background-image: linear-gradient(to top, var(--background-bottom-color), var(--tertiary-color) 40%, var(--primary-color) 50%);
  z-index: -2;
  filter: url(#space2);
}
/* Middle section of every page, where all the content resides */
.center-box {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  width: 100%;
  padding: 3vh 8vw;
  background-color: transparent;
  border-style: none;
  border-color: var(--secondary-color);
  border-width: 4px;
  text-align: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.clickable {
  cursor: pointer;
}
/* Icon sizing and color*/
.icon {
  margin: 0;
  aspect-ratio: 1;
  width: auto;
  height: 32px;
  filter: url(#fill-secondary-color);
}
.aux-image {
  width: 800px;
  max-width: 80%;
  height: auto;
}
/* For mobile devices */
@media (pointer: coarse) {
  .animated-background {
    display: none;

  }
}