.image-card {
    display: flex;
    flex-direction: column;
    width: auto;
    max-height: 75vh;
    max-width: 100%;
    padding: 10px 20px;
    background-image: linear-gradient(to bottom, var(--primary-color) 50%, var(--image-card-bottom-color));
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-color);
    font-size: 20px;
}
.image-card p {
    text-align: left;
}
.image-card img {
    margin: 2% 5%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--image-card-bottom-color);
    width: auto;
    max-height: 100%;
}