/* Middle section of every page, where all the content resides */
body {
  align-items: center;
  
}
.center-box {
/* Resets from original */
  display: flex;
  background-image: none;
  flex-grow: 0;
  box-sizing: content-box;

/* New settings */
  width: 500px;
  height: auto;
  aspect-ratio: 1;
  background-image: linear-gradient(135deg, var(--secondary-color), var(--secondary-color-darkened) 50%, var(--primary-color) 50%);
  border-style: solid;
  border-width: 5px;
  text-align: left;
  align-items: center;
  padding: 0px 0px;

}
/* Clone of center box with reverse gradient for text color */
.center-box-clone
{
  max-width: none;
  width: auto;
  display: flex;
  position: relative;
  color: transparent;
  background-image: linear-gradient(315deg, var(--secondary-color), var(--secondary-color) 50%, var(--primary-color) 50%);
  background-clip: text;
  border-style: none;
  margin: auto;
  justify-content: center;
  overflow: hidden;

}
/* Override hyperlink stylization to match color gradient */
.center-box-clone a {
  color: transparent;
}
/* For Animated text */
@keyframes moving-text {
  0% {
    right: -420%;
  }
  50% {
    right: 120%;
  }
  100% {
    right: 120%;
  }
}
/* Font and animation settings for homepage center box text */
.center-box-clone h2 {
  user-select: none;
  font-family: nunito;
  font-size: 500px;
  position: absolute;
  animation-name: moving-text;
  animation-timing-function: linear;
  animation-duration: 9s;
  animation-iteration-count: infinite;
}
/* Boxed image formatting */
.center-box-clone img {
  width: 100%;
  height: auto;
  cursor: pointer;
  z-index: 1;
}

/* For phone screens */
@media screen and (max-width: 500px) {
  .center-box {
    width: 300px;
  }
  .center-box-clone h2 {
    font-size: 300px;
  }
}
