/* Top navigation bar */
.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: start;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-color: var(--secondary-color);
  background-color: transparent;
  font-family: funnel;
  font-size: 18px;
  justify-content: space-between
}
.link-buttons {
  flex-direction: row;
}
.nav span {
  display: flex;
}
.nav-button-text {
  padding: 0 0 0 20px;
}
.nav a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px;

  /* Overwrites hyperlink style for rest of webstie */
  font-weight: normal;
  text-wrap: nowrap;
}
/* When navigation button is hovered, change color and icon */
.nav a:hover {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.nav a:hover .icon {
  filter: url(#fill-primary-color);
}
.nav .nav-hamburger {
  display: none;
  padding: 10px 15px;
  justify-content: right;
}
.nav .nav-close {
  padding: 10px 15px;
  display: none;
  justify-content: right;
}
/* For touch screens */
@media (any-hover: none) {

}
/* For tall screens */
@media screen and (max-width: 600px) {
  .link-buttons {
    flex-direction: column;
  }
  .icon {
    height: 24px;
  }
}
