/* Top navigation bar */
.nav {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: fit-content;
  height: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-color: var(--secondary-color);
  background-color: transparent;
  font-family: funnel;
  font-size: 18px;
}
.link-buttons {
    flex-direction: column;
}
.nav span {
  display: flex;
}
/* Button details hidden when not hovered */
.nav .expanding-button {
  display: none;
  padding: 0 0 0 20px;
}
/* Hovering over button displays its details */
.nav .link-buttons:hover a > .expanding-button {
  display: flex;
}
.nav a {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px;

  /* Overwrites hyperlink style for rest of webstie */
  font-weight: normal;
  text-wrap: nowrap;
}
.show-hide-button.show-hide-button {
  display: none;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px;
  background-clip: content-box;
}
/* When navigation button is hovered, change color and icon */
.nav a:hover {
  width: 100%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.nav a:hover .icon {
  filter: url(#fill-primary-color);
}

.nav .showing {
  display: flex;
}
/* For touch screens */
@media (any-hover: none) {
  #show-button {
    display: flex;
  }
}
/* For tall screens */
@media screen and (max-width: 500px) {
  .nav a, .nav .show-hide-button{
    padding: 10px 10px;
    font-weight: normal;
    font-size: 14px;
  }
  .nav:hover {
    background-color: var(--primary-color);
    border-style: none solid solid none;
  }
  .icon {
    height: 24px;
  }
}
