/* Global settings */
:root {
  /* Accent color for whole website */
  --primary-color: white;
  --secondary-color: rgb(24, 35, 255);
  --secondary-color-darkened: rgb(11, 19, 182);
}
.dark-mode {
  --primary-color: rgb(34, 28, 44);
  --secondary-color: rgb(245, 240, 218);
  --secondary-color-darkened: rgb(79, 63, 97);
}
@font-face {
  font-family: playfair;
  src: url("/fonts/PlayfairDisplay.ttf");
}
@font-face {
  font-family: nunito;
  src: url("/fonts/Nunito.ttf");
}
* {
  font-family: playfair;
  letter-spacing: 1px;
  line-height: 1.6;
}
.clickable {
  cursor: pointer;
}

/* Font adjustments */
p, ul, li, a {
  letter-spacing: normal;
}

/* Box resets */
body, h1, h2, header, p, ul, pre, a{
  margin: 0;
  padding: 0;
}

body {
  cursor: default;
  background-color: var(--primary-color);
  background-blend-mode: overlay;
  background-size: contain;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-attachment: fixed;
}
img {
  width: 1000px;
  max-width: 100%;
  height: auto;
  margin: 20px;
}
h2 {
  font-size: 20px;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  font-weight: bold;
  text-decoration-line: none;
}
hr {
  border-style: solid;
  width:80%;
  color: var(--secondary-color)
}

/* Middle section of every page, where all the content resides */
.center-box {
  display: flex;
  margin: auto;
  box-sizing: border-box;
  width: 60%;
  padding: 30px 80px;
  background-color: var(--primary-color);
  border-style: none solid;
  border-color: var(--secondary-color);
  border-width: 4px;
  text-align: center;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}
.vert-img {
  width: 550px;
}